.logo {
  height: 70px;
  width: auto;
}

/* Logo dentro del navbar (más chico) */
.navbar-brand .logo {
  height: 28px;
  width: auto;
  margin-right: .5rem;
  vertical-align: middle;
}


.titulo {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  color: #697d91;
}



/*UNIFICACIÓN Y ALINEADO DE CARDS*/

.product-img {
  width: 100%;
  aspect-ratio: 4 / 5;        /* Mantiene proporción PERFECTA */
  object-fit: cover;          /* Recorta sin perder calidad */
  object-position: center;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.card-title {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.card-text {
  flex-grow: 1;
  min-height: 60px;
}

.card-body h6 {
  min-height: 28px;
  display: flex;
  align-items: center;
}

.qty-box,
.card-body .d-flex.align-items-center.mt-3 {
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.card-body button {
  margin-top: auto !important;
}


@media (min-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}

